.button {
  display: block;
  padding: 7px 0;
  background-color: #68b738;
  color: @color-light;
  .font-basic();
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-decoration: none;

  @media(min-width: @tablet-width) {
   padding: 14px 26px;
   font-size: 20px;
   line-height: 20px;
  }
}


