.example {
  background-color: @color-medium;
  padding: 25px 20px 37px 20px;


  @media (min-width: @tablet-width) {
    background-color: @color-light;
    padding: 43px 0 139px 0;
    position: relative;
  }

  @media (min-width: @desktop-width) {
    padding-top: 69px;
    padding-bottom: 69px;
  }

  &::before {
    @media (min-width: @tablet-width) {
      content: "";
      width: 100%;
      height: 462px;
      position: absolute;
      bottom: 0;
      background-color: @color-medium;
    }

    @media (min-width: @desktop-width) {
      height: 69%;
    }
  }
}

.example__wrapper {
  min-width: 280px;


  @media (min-width: @tablet-width) {
    padding: 0 30px;
    margin: 0;
  }

  @media (min-width: @desktop-width) {
    padding: 0;
    width: 1220px;
    margin: 0 auto;
    position: relative;
    z-index: 1;
  }
}

.example__title {
  margin-bottom: 40px;

  @media (min-width: @tablet-width) {
    margin-bottom: 63px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 146px;
  }
}

.example__container {
  display: grid;
  grid-gap: 20px;

  @media (min-width: @tablet-width) {
    grid-template-columns: repeat(2, 1fr);
    gap: 54px 152px;
  }

  @media (min-width: @desktop-width) {
    gap: 55px 227px;
  }
}

.example__list {
  margin: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 11px 30px;

  @media (min-width: @tablet-width) {
    gap: 11px 42px;
  }

  @media (min-width: @desktop-width) {
    grid-column: 1/2;
    padding-right: 66px;
    padding-top: 13px;
  }
}

.example__term {
  .font-basic();
  text-transform: uppercase;
  font-size: 24px;
  line-height: 24px;
  color: #000000;
  grid-row: 1/2;
  padding: 16px;
  border: 1px solid #cdcdcd;
  text-align: center;

  @media (min-width: @tablet-width) {
    font-size: 30px;
    line-height: 37px;
    min-width: 162px;
  }
}

.example__descr {
  .font-descr();
  font-size: 12px;
  line-height: 12px;
  color: #444444;
  margin: 0;
  justify-self: center;
  margin-top: -20px;
  text-align: center;

  @media (min-width: @tablet-width) {
    font-size: 14px;
    line-height: 14px;
  }
}

.example__line {
  background-color: @color-medium;
  display: inline-block;
  max-width: 90%;

  @media (min-width: @tablet-width) {
    display: inline-block;
    background-color: @color-light;
    max-width: 100%;
    padding-left: 9px;
    padding-right: 9px;
  }

  @media (min-width: @desktop-width) {
    background-color: @color-medium;
  }
}

.example__span {
  .font-basic();
  color: #000000;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    text-align: end;
    font-size: 20px;
  }

  @media (min-width: @desktop-width) {
    grid-column: 1/2;
    max-width: 100%;
  }
}

.example__span--top {
  @media (min-width: @tablet-width) {
    margin-bottom: 10px;
  }
}

.example__span--bottom {
  @media (min-width: @desktop-width) {
    padding-left: 62px;
  }
}

.example__div {
  justify-self: center;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
  }

  @media (min-width: @desktop-width) {
    display: block;
    grid-column: 1/2;
    justify-self: start;
    padding-top: 0;
  }
}

.example__contain {
  justify-self: center;

  @media (min-width: @tablet-width) {
    grid-column: 1/-1;
  }

  @media (min-width: @desktop-width) {
    grid-column: 2/3;
    margin-top: -544px;
  }
}

.example__explane {
  @media (min-width: @tablet-width) {
    grid-column: 1/-1;
  }

  @media (min-width: @desktop-width) {
    grid-column: 1/2;
  }
}
