.example {
  background-color: @color-medium;
  padding: 25px 20px 40px 20px;
}

.example__wrapper {
  min-width: 280px;
  max-width: 600px;
  margin: 0 auto;
}

.example__title {
  margin-bottom: 40px;
}

.example__container {
  display: grid;
  grid-gap: 20px;
}

.example__list {
  margin: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 8px 20px;
}

.example__term {
  .font-basic();
  text-transform: uppercase;
  font-size: 24px;
  line-height: 24px;
  color: #000000;
  grid-row: 1/2;
  padding: 20px;
  border: 1px solid #cdcdcd;
  text-align: center;
}

.example__descr {
  .font-descr();
  font-size: 12px;
  line-height: 12px;
  color: #444444;
  margin: 0;
  justify-self: center;
  margin-top: -20px;
  text-align: center;
}

.example__line {
  background-color: @color-medium;
  display: inline-block;
  max-width: 90%;
}

.example__span {
  justify-self: center;
  .font-basic();
  color: #000000;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
}

.example__contain {
  justify-self: center;
}

