.main-header {
  position: relative;
  min-width: 320px;
}

.main-header__logo {
  position: relative;
  height: 66px;
  border-bottom: 1px solid #e6e6e6;
  background-image: url("../img/logo-subscribe.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.main-header__link {
  position: absolute;
  top: 20%;
  left: 20px;
}
