.hero {
  min-width: 320px;
  position: relative;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: column;
    padding-bottom: 526px;
    width: 600px;
    margin: 0 auto;
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 185px;
    min-width: @desktop-width;
    max-width: 1350px;
    margin: 0 auto;
  }

  &::before {
    @media (min-width: @desktop-width) {
      content: "";
      position: absolute;
      width: 50%;
      height: calc(100% + 140px);
      background-image: url("../img/hero-desktop.jpg");
      background-repeat: no-repeat;
      background-position: top center;
      background-size: cover;
      right: 0;
      bottom: 0;
    }
  }
}

.hero__wrapper-top {
  padding-bottom: 138px;

  @media (min-width: @tablet-width) {
    padding-bottom: 0;
    position: relative;
  }

  @media (min-width: @desktop-width) {
    width: 50%;
  }

  &::before {
    @media (min-width: @tablet-width) {
      content: "";
      position: absolute;
      width: 709px;
      height: 609px;
      background-image: url("../img/product-view.png");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center center;
      bottom: -580px;
      left: 70%;
      transform: translateX(-50%);
    }

    @media (min-width: @desktop-width) {
      content: "";
      position: absolute;
      width: 552px;
      height: 499px;
      left: unset;
      bottom: -250px;
      background-image: url("../img/product-view.png");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center center;
      transform: none;
      right: -420px;
    }
  }
}

.hero__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #62a53a;
  background-image: url("../img/hero-background.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: auto 100%;
  height: 100%;
  padding-top: 27px;
  padding-bottom: 164px;

  @media (min-width: @tablet-width) {
    background: @color-light;
    align-items: flex-start;
    padding-bottom: 49px;
    padding-left: 118px;
  }
}

.hero__title {
  .font-basic();
  width: 250px;
  color: @color-light;
  font-size: 36px;
  line-height: 36px;
  margin: 0;
  text-align: center;
  margin-bottom: 25px;

  @media (min-width: @tablet-width) {
    font-size: 60px;
    line-height: 60px;
    color: #000000;
    width: 420px;
    text-align: left;
    margin-bottom: 41px;
  }
}


.hero__descr {
  .font-basic();
  margin: 0;
  color: @color-light;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  width: 200px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 280px;
    height: 270px;
    background-image: url("../img/product-view.png");
    background-repeat: no-repeat;
    background-position: center center;
    bottom: -300px;
    left: 50%;
    transform: translateX(-50%);
  }

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 20px;
    color: #000000;
    width: 290px;
  }

  @media (min-width: @tablet-width) {
    &::before {
      display: none;
    }
  }
}

.hero__button {
  margin: 0 20px;

  @media (min-width: @tablet-width) {
    margin: 0;
    align-self: flex-start;
    margin-left: 118px;
    z-index: 2;
  }
}




