.invite__wrapper {
  padding: 26px 20px;
  display: flex;
  justify-content: space-between;
  min-width: 320px;
}

.invite__title {
  .font-basic();
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  color: #111111;
  text-transform: uppercase;
  width: 139px;
}

.invite__address {
  line-height: 20px;
  width: 139px;
}

.invite__link {
  display: block;
}

.invite__image {
  width: 100%;
}
