.it-works {
  padding: 20px 20px 29px 20px;
}

.it-works__wrapper {
  min-width: 280px;
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
}

.it-works__title {
  margin-bottom: 40px;
}

.it-works__list {
  .list-reset();
}

.it-works__item {
  min-height: 60px;
  margin-bottom: 20px;
  padding-left: 80px;
  position: relative;
  display: flex;
  align-items: center;

   &::before {
    content: "";
    position: absolute;
    display: inline-block;
    width: 60px;
    height: 60px;
    background-color: #68b738;
    background-repeat: no-repeat;
    background-position: center center;
    top: 0;
    left: 0;
  }
}

.it-works__item--leave {
  &::before {
  background-image: url(../img/leave.svg);
  }
}

.it-works__item--liquid {
  &::before {
  background-image: url(../img/liquid.svg);
  }
}

.it-works__item--tableware {
  &::before {
  background-image: url(../img/tableware.svg);
  }
}

.it-works__item--time {
  &::before {
  background-image: url(../img/time.svg);
  }
}




