.nav-list {
  .list-reset();
 display: flex;
 flex-direction: column;
}

.nav-list__link {
  display: block;
  .font-menu();
  font-size: 20px;
  line-height: 20px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;
}

.nav-list__item {
  min-height: 66px;
  border-bottom: 1px solid #e6e6e6;
  display: flex;
  justify-content: center;
  align-items: center;
}

