.program-card {
  background-color: @color-dark;
  padding: 30px 33px 0 20px;
  position: relative;

  @media (min-width: @tablet-width) {
    padding: 77px 0 53px 53px;
  }

  @media (min-width: @desktop-width) {
    padding: 77px 61px 55px 52px;
  }

  &::after {
    content: "";
    position: absolute;
    width: 70px;
    height: 55px;
    top: 19px;
    left: 11px;

    @media (min-width: @tablet-width) {
      content: "";
      position: absolute;
      width: 270px;
      height: 215px;
      left: unset;
      top: 20px;
      right: 0;
    }

    @media (min-width: @desktop-width) {
      content: "";
      width: 134px;
      height: 100px;
      right: unset;
      top: 20px;
      left: 0;
    }
  }
}


.program-card--cat_sit {
  &::after {
    background-image: url("../img/cat-sit.svg");
    background-repeat: no-repeat;
    background-position: center center;
  }

  &::after {@media (min-width: @tablet-width) {
      background-size: contain;
    }
  }
}

.program-card--cat_go {
  &::after {
    background-image: url("../img/cat-go.svg");
    background-repeat: no-repeat;
    background-position: center center;
  }

  &::after {
    @media (min-width: @tablet-width) {
      background-size: contain;
    }
  }
}


.program-card__title {
  .font-basic();
  margin: 0;
  margin-bottom: 29px;
  font-size: 24px;
  line-height: 37px;
  color: #000000;
  text-transform: uppercase;
  padding-left: 71px;

  @media (min-width: @tablet-width) {
    margin-bottom: 24px;
    font-size: 36px;
    line-height: 36px;
    padding-left: 0;
  }

  @media (min-width: @desktop-width) {
    margin-left: 160px;
    margin-bottom: 73px;
  }

}

.program-card__descr {
  width: 100%;
  padding-bottom: 23px;
  max-width: 500px;

  @media (min-width: @tablet-width) {
    width: 50%;
    margin-bottom: 48px;
    border: none;
    color: #000000;
  }

  @media (min-width: @desktop-width) {
    width: 100%;
  }
}

.program-card__link {
  .font-basic();
  display: block;
  padding: 20px 0;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
  border-top: 1px solid #d9d9d9;
  background-image: url("../img/arrow.svg");
  background-repeat: no-repeat;
  background-position: 100px center;


  @media (min-width: @tablet-width) {
    padding: 0;
    font-size: 24px;
    line-height: 30px;
    border: none;
    width: 165px;
    background-position: right center;
  }

  @media (min-width: @tablet-width) {
    width: 168px;
  }
}
