.slider {
  width: 280px;
  height: 256px;
  overflow: hidden;
  position: relative;
}

.slider__list {
  .list-reset();
  display: flex;
}

.slider__item {
  min-width: 280px;
}

.slider__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider__curtain {
  position: absolute;
  top: 0;
  left: 0;
}

