.slider {
  width: 280px;
  height: 256px;

  @media (min-width: @tablet-width) {
    width: 560px;
    height: 512px;
  }
}

.slider__list {
  .list-reset();
  position: relative;
}

.slider__item {
  width: 280px;
  height: 256px;
  position: absolute;

  @media (min-width: @tablet-width) {
    width: 560px;
    height: 512px;
  }
}

.slider__item--fat {
  overflow: hidden;
  width: 50%;
  background-color: @color-medium;
  z-index: 5;
  border-right: 5px solid #666666;
  transition: all 30ms;


  &::before {
  @media (min-width: @tablet-width) {
      content: "";
      width: 100%;
      height: 151px;
      position: absolute;
      top: 0;
      left: 0;
      background-color: @color-light;
      z-index: -1;
    }

    @media (min-width: @desktop-width) {
      height: 18.5%;
    }
  }
}

.slider__image {
  width: 280px;
  max-width: 280px;
  min-height: 256px;
  @media (min-width: @tablet-width) {
    width: 560px;
    max-width: 560px;
    min-height: 512px;
    object-fit: cover;
  }
}

.slider__curtain {
  position: absolute;
  top: 50%;
  right: -9%;
  z-index: 10;
}

.slider__button {
  display: block;
  border: none;
  background-color: transparent;
 }

.slider__icon path {
  fill: #666666;
}

.slider__icon rect {
  stroke: #666666;
}


