.slider {
  width: 280px;
  height: 256px;

  @media (min-width: @tablet-width) {
    width: 560px;
    height: 512px;
  }
}

.slider__list {
  .list-reset();
  position: relative;

  @media (min-width: @tablet-width) {
    padding-top: 39px;
  }
}

.slider__item {
  width: 280px;
  height: 256px;
  position: absolute;

  @media (min-width: @tablet-width) {
    width: 560px;
    height: 512px;
  }
}

.slider__item--fat {
  overflow: hidden;
  width: 50%;
  background-color: @color-medium;
  z-index: 5;
  border-right: 5px solid #666666;
  transition: all 30ms;
  background-image: url("../img/fat-cat.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center left;

  @media (min-resolution: 2dppx) {
    background-image: url(../img/fat-cat@2x.png);
  }

  @media (min-width: @tablet-width) {
    background-image: url("../img/fat-cat-tablet.png");


    @media (min-resolution: 2dppx) {
      background-image: url("../img/fat-cat-tablet@2x.png");
    }
  }
 }


.slider__curtain {
  position: absolute;
  top: 50%;
  right: -9%;
  z-index: 10;
}

.slider__button {
  display: block;
  border: none;
  background-color: transparent;
}

.slider__icon path {
  fill: #666666;
}

.slider__icon rect {
  stroke: #666666;
}


